:root {
    --primary-color: #213542;
    --secondary-color: #596e7d;
    --primary-blue: #0291D9;
    --secondary-blue: #5EC4F3;
    --white: #ffffff;
    --background: #FCFAFF;
    --black: #000000;
    --btn-background: #F5F0FF;
}

body {
    background-color: #fafafa;
    letter-spacing: 1.3px;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.bg-success {
    background-color: var(--primary-blue) !important;
}

.nav-center {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    border-radius: 20px;
    border: 1px solid #e5e7eb;

    a {
        color: var(--primary-color) !important;

        .nav-link {
            color: var(--primary-color) !important;
            font-weight: 500;
        }

        &.active {
            .nav-link {
                color: var(--primary-blue) !important;

            }
        }
    }
}

.main-item {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px;
    color: var(--primary-color);

    .container-item {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.profile-link {
    border-radius: 50px;
    border: 2px solid #ccc;

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        padding: 3px;
    }
}

.text-48 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: normal;

    .role {
        color: var(--primary-blue);
    }
}

.main-image {
    width: 350px;
    border-radius: 20px;
    margin: 0 auto;
    // filter: grayscale(100%);
    transform: translateX(8px) translateY(60px) scaleX(0.75) scaleY(0.75) rotate(6deg) translateZ(0px);
}

.home {
    p {
        letter-spacing: 1.3px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-item {
        padding: 0px 15px;
        font-weight: 600;
        color: var(--primary-color);

        &:hover {
            color: var(--primary-blue);
        }
    }
}

.align-item-center {
    align-items: center;
}

.frontend-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem 10rem;

    li {
        img {
            width: 80px;
            height: 80px;
        }

        text-align: center;

        .title {
            color: #a1a1aa;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
        }
    }
}

.mt-30 {
    margin-top: 6rem;
}

.mt-20 {
    margin-top: 3rem !important;
}

.p-20 {
    padding: 2rem 0rem;
}

.main-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.role-title {
    color: var(--primary-blue);
}

.q-list-item {
    list-style: disc;
    padding-left: 20px;

    li {
        color: var(--secondary-color);
    }
}

.react-title {
    font-size: 24px;
    font-weight: 500;
}

.code-box {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

pre {
    background-color: #0d0d0d;
    padding: 15px 30px;
    border-radius: 10px;
    white-space: pre-wrap;
    overflow-x: auto;

    code {
        font-size: 14px;
        color: #f4f4f4;
        line-height: 1.5;
    }

    .code-import {
        color: #df3079;
    }

    .code-red {
        color: rgb(222, 147, 95);
    }

    .code-green {
        color: #00a67d;
    }

    .code-yellow {
        color: #ffe564;
    }

    .code-blue {
        color: #2e95d3;
    }
}
.dom-img-1 {
    width: 400px;
}
.dom-img-2 {
    width: 300px;
    margin-left: 80px;
}
.justify-sb {
    justify-content: space-between;
}
.text-dom {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 20px 0px;
    margin-top: 20px;
}
